 
@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&family=Yantramanav:wght@100;300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
     
    background: white;
    color: black;
   
    
}
[data-theme='dark'] {
    background: rgba(0, 14, 20, 0.9);
    color: white;
    
}